body.overflow-hidden {
    overflow:hidden;
  }
  
  #side-menu {
    display:none;
    position:fixed;
    min-width:300px;
    top:35px;
    right:-300px;
    height:100%;
    overflow-y:auto;
    z-index:1000;
    background:rgba(255, 255, 255, 0.8);
    padding:20px 30px;
    color:#333;
    transition:0.4s;
  }
  .nav-flex-icons .nav-item{
      display: inline;
  }
  body.side-menu-visible #side-menu {
    transform:translateX(-300px);
  }
  
  #side-menu .contents {
    margin-top:15px;
  }
  
  #side-menu .nav-link {
    color:#333;
    font-size:16px;
    font-weight:600;
    padding:12px 0;
  }
  
  #side-menu .nav-link:hover {
    opacity:.8;
  }
  
  #side-menu .close {
    font-size:36px;
    font-weight:400;
  }
  
  .side-menu-overlay {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.4);
    z-index:100;
    display:none;
  }
  
  