#phanith_form {
    background-color: whitesmoke;
    margin: auto;
    width: 800px;
    height: 900px;
    padding: 15px;
    box-shadow: 2px 2px 5px 5px lightgray;
}
#phanith_formProjectDetail {
    background-color: whitesmoke;
    margin-left: 100px;
    width: 800px;
    height: 900px;
    padding: 15px;
}
/* #errName {
    display: inline;
    color: red;
    font-style: italic;
} */

.btn {
    padding: 0.375rem 2.75rem;
    text-align: right;
}

.modal {
    position: absolute;
    top: 10rem;
    right: 1rem;
    bottom: 0;
    left: 0;
    /* z-index: 10000; */
    overflow: auto;
    overflow-y: auto;
 }
select .custom-select {
    position: relative;
}

 /* tags price and duration */
 /* ----------------------- */
 .tags p {
    float: left;
    position: relative;
    width: auto;
    height: 30px;
    margin-left: 20px;
    padding: 0 12px;
    line-height: 30px;
    background: #1f8dd6;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;		
}

.tags p:before {
    content: "";
    position: absolute;
    top: 0;		
    width: 0;
    height: 0;		
    border-style: solid;		
}

.tags p:after {
    content: "";
    position: absolute;
    top: 13px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}	

.tags p:hover {
    background: #1d85ca;
}	

/* Add rounded corners to right end of the anchor tag */
.price-tag p {		
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

/* Position and show only right border of triangle  */
.price-tag p:before {		
    left: -15px;	
    border-color: transparent #1f8dd6 transparent transparent;
    border-width: 15px 15px 15px 0;
}

/* Fix the circle between anchor box and triangle left to it  */
.price-tag p:after {		
    left: -2px;
}

.price-tag p:hover:before {
    border-color: transparent #1d85ca transparent transparent;
}

/* Add rounded corners to left end of the anchor tag */	
.duration-tag p {		
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

/* Position right and show only left border of triangle  */
.duration-tag p:before {		
    right: -15px;	
    border-color: transparent transparent transparent #1f8dd6;
    border-width: 15px 0 15px 15px;
}

/* Fix the circle between anchor box and triangle right to it  */
.duration-tag p:after {		
    right: -2px;
}

.duration-tag p:hover:before {
    border-color: transparent transparent transparent #1d85ca;
}
/* --------------------- */
#headerInputForm {
    margin: auto;
    width: 800px;
    padding: 15px;
}