body {
    /* background:#eee; */
}
html,
body,
.view {
    height:100%;
}
.navbar-brand {
    color:#fff !important;
}

.profile-photo {
    width:250px;
    border: #fff solid 10px;
}

.flex-menu {
    display:flex;
}

.flex-menu li:not(:last-child) {
    margin-right:40px;
}
.profile-cover-overlay{
    height: 180px;
}
.img-project{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}