.profile-cover-overlay {
    height: 350px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.profile {
    border: 5px solid white;
}
.avatar-pic {
    width: 150px; }
.mt-50 {
    margin-top: 100px !important;
}

.star-rating {
    margin-top: -15px;
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: rgb(255, 208, 0);
}