.title-bg-img{
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-margin{
    margin: 0 5px 0 5px;
    height: 45px;
    width: 45px;
}
.h-img {
    /* height: 500px; */
    margin:  -100px 0 -100px 0;

}
.h-img img {
    display: block;
    margin: 0 auto;
  }
.img-icon{
    height: 40px;
    opacity: 0.2;

}
a .img-icon{
    opacity: 0.6;
}
a:hover .img-icon{
    opacity: 1;
}
.star-rating {
    line-height:32px;
    font-size:1.25em;
  }
.star-rating .fa-star{color: rgb(255, 208, 0);}

@media (min-width: 0px) and (max-width: 991.98px) {     
    .container{
    width: 100%;
    }
    .h-img {
        margin: 0;
    }
    #list-down{
        display: none;
    }  
}
@media (min-width: 992px) and (max-width: 1199.98px) {     
    .container{
    width: 100%;
    }  
}
