/* Som Nak Style */

@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900';
body {
    /* font-family: nunito sans, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    overflow-x: hidden;
    color: #444 */
}

img {
    max-width: 100%
}
a:hover,
a:focus {
    text-decoration: none;
    outline: 0
}

.center {
    text-align: center
}

.btn-common:hover,
.btn-common:focus {
    color: #fff;
    background: #ea4249;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12)
}

.btn-search-icon:hover {
    opacity: .8
}

.btn-common {
    background-color: #ff4f57;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative
}

.btn-border {
    background: #fff;
    color: #ff4f57;
    text-transform: uppercase;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    border: 1px solid !important
}

.btn-border:hover {
    color: #ff4f57;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12)
}

.btn-search {
    padding: 11px
}

.btn-lg {
    padding: 15px 30px;
    font-weight: 700;
    letter-spacing: .3px;
    border-radius: 4px
}

.btn-sm {
    font-size: 14px;
    padding: 7px 18px;
    line-height: 1.5;
    margin-bottom: 5px;
    border: 0;
    text-transform: capitalize
}

.btn.btn-sm,
.btn-group-sm .btn,
.navbar .navbar-nav>li>a.btn.btn-sm,
.btn-group-sm .navbar .navbar-nav>li>a.btn {
    padding: 5px 20px;
    font-size: 13px
}

.btn-xs {
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px
}

.btn-rm {
    padding: 10px 21px;
    text-transform: uppercase
}

.btn-post {
    padding: 10px 16px
}

.btn-search-icon {
    padding: 14px 22px;
    height: 55px;
    font-size: 22px;
    background: #ff4f57;
    color: #fff;
    width: 65px;
    text-align: center
}

.btn-search-icon:hover {
    color: #fff
}

.section {
    padding: 60px 0
}

.section-title {
    font-size: 36px;
    padding: 0 0 30px;
    font-weight: 900
}

.medium-title {
    font-size: 24px;
    padding: 10px 0;
    text-transform: uppercase;
    position: relative
}

/*Here*/

.section-intro {
    background: url(../img/bg/bg-intro.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%
}

.section-intro:before {
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(42, 46, 50, .8);
    position: absolute
}

.search-container {
    padding: 200px 0;
    display: inline-block;
    width: 100%;
    position: relative
}

.search-container .form-control {
    /* padding: 0 40px;
    border: 1px solid transparent; */


    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    color: #444;
    display: block;
    height: 55px;
    padding: 15px 50px;
    width: 100%
}

.search-container .form-group {
    margin-bottom: 0 !important
}

.search-container h2 {
    font-size: 30px;
    color: #ff4f57;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -1px
}

.search-container h1 {
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 30px
}

.search-container .content {
    background: rgba(255, 255, 255, .1);
    padding: 10px;
    margin-bottom: 30px
}

.popular-jobs a {
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 5px 10px;
    color: #fff;
    margin: 0 5px;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.popular-jobs a:hover {
    background: #ff4f57;
    border-color: #ff4f57;
    color: #fff
}

.section-intro .main-text {
    margin: 100px 15px 130px;
    text-transform: uppercase
}

.section-intro .main-text .intro-title {
    font-size: 48px;
    color: #fff;
    white-space: nowrap;
    line-height: 58px
}

.section-intro .main-text .sub-title {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 15px
}

#search-row-wrapper {
    background: url(../img/bg/counter-bg.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center
}

#search-row-wrapper .overlay {
    background: url(../img/bg/bg-overlay.png) rgba(0, 0, 0, .3) repeat;
    width: 100%;
    height: 100%
}

#search-row-wrapper .search-inner {
    padding: 40px 0
}

#intro-bg {
    background: url(../img/bg/bg-intro-1.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%
}

#intro-bg:before {
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(42, 46, 50, .7);
    position: absolute
}

.search-bar {
    background: rgba(68, 68, 68, .7);
    padding: 20px
}

.search-bar i {
    font-size: 15px;
    position: absolute;
    top: 0;
    background-color: transparent;
    color: #444;
    right: 15px;
    padding: 15px
}

.search-bar label {
    z-index: 0;
    font-weight: 400;
    width: 100%;
    margin: 0
}

.search-bar .form-group {
    margin-bottom: 0 !important
}

.input-group-addon {
    border: 0
}

.search-category .search-category-container {
    border: 0;
    padding: 0;
    position: relative;
    border-radius: 0;
    border: 0 !important;
    background: #fff
}

.input-group-addon {
    padding: 0 
}

.styled-select {
    position: relative;
    width: 100%;
    background: #fff
}

.styled-select:before {
    content: "\e651";
    float: left;
    position: absolute;
    font-family: themify;
    color: #666;
    left: 2px;
    padding: 13px;
    z-index: 999
}

.styled-select>select {
    background: 0 0;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    border-radius: 0;
    height: 44px
}

.search-category select {
    padding: 12px;
    border: 0;
    background: 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #333
}

select>opation:focus {
    box-shadow: none;
    border: 0
}

.dropdown-product select.balck {
    background-color: #666
}

.dropdown-product select.option3 {
    border-radius: 10px 0
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted transparent !important;
    outline: 0 !important;
    outline-offset: 0 !important
}

.btn-default {
    padding: 17px 14px;
    border-radius: 0;
    color: #2d2d2d !important;
    background: #fff;
    text-transform: none
}

.btn-default:hover {
    background-color: #fff;
    border-color: #fff
}

label {
    margin: 0
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin-left: 30px
}

.featured-jobs .featured-item {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    cursor: pointer;
    -webkit-transition: transform .2s linear, -webkit-box-shadow .2s linear;
    -moz-transition: transform .2s linear, -moz-box-shadow .2s linear;
    transition: transform .2s linear, box-shadow .2s linear
}

.featured-jobs .featured-item:hover {
    box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, .13)
}

.featured-jobs .featured-wrap {
    background: #fff;
    width: 100%;
    padding: 8px
}

.featured-jobs .item-thumb {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease
}

.featured-jobs .item-thumb a {
    display: block
}

.featured-jobs .item-thumb:hover {
    opacity: .9
}

.featured-jobs .item-body {
    padding: 20px 12px 10px;
    width: 100%
}

.featured-jobs .item-body .job-title {
    margin: 0 0 4px
}

.featured-jobs .item-body .job-title a {
    font-size: 16px;
    text-transform: uppercase
}

.featured-jobs .item-body .job-title a:hover {
    color: #ff4f57
}

.featured-jobs .item-body .adderess {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    margin: 0
}

.featured-jobs .item-foot {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    position: relative
}

.featured-jobs .item-foot a {
    color: #999
}

.featured-jobs .item-foot a:hover {
    color: #ff4f57
}

.featured-jobs .item-foot span {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 10px
}

.featured-jobs .item-foot span i {
    margin-right: 5px
}

.featured-jobs .item-foot .view-iocn {
    position: absolute;
    top: -24px;
    right: 24px
}

.featured-jobs .item-foot .view-iocn a {
    width: 48px;
    display: block;
    background: #ff4f57;
    color: #fff;
    font-size: 20px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15)
}

#testimonial {
    width: 100%;
    background: url(../img/testimonial/testimonial-bg.jpg);
    background-size: cover;
    position: relative
}

#testimonial:before {
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

#testimonial .img-member {
    height: 90px;
    border-radius: 100%;
    margin-top: 22px;
    overflow: hidden;
    width: 90px
}

#testimonial .client-info {
    color: #fff;
    line-height: 20px;
    margin: 20px auto
}

#testimonial .client-info .client-name {
    font-size: 20px;
    line-height: 44px;
    text-transform: uppercase
}

#testimonial .client-info .client-name span {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    font-style: italic
}

#testimonial p {
    margin: 20px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .9px;
    color: #fff;
    font-style: italic;
    position: relative
}

#testimonial p .quote-left {
    font-size: 32px;
    margin-right: 36px
}

#testimonial p .quote-right {
    font-size: 32px;
    margin-left: 36px
}

#testimonial .owl-theme .owl-controls .owl-buttons div {
    border-radius: 50%;
    font-size: 30px;
    margin: 20px 10px 0;
    padding: 0 12px
}

.touch-slider .owl-controls .owl-buttons {
    position: relative;
    top: -190px;
    left: 0
}

.touch-slider .owl-controls .owl-buttons div.owl-prev {
    float: left;
    margin-left: -45px
}

.touch-slider .owl-controls .owl-buttons div.owl-next {
    float: right !important;
    margin-right: -45px
}

.owl-theme .owl-controls .owl-buttons div {
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: block !important;
    background: #ff4f57 !important;
    text-align: center;
    display: inline-block;
    opacity: 1 !important;
    border-radius: 50px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.owl-theme .owl-controls .owl-buttons div:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    opacity: .8 !important
}

.owl-theme .owl-controls .owl-buttons div i {
    color: #fff;
    font-size: 14px;
    line-height: 40px
}

.form-control {
    /* background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    color: #444;
    display: block;
    height: 55px;
    padding: 15px 10px;
    width: 100% */
}

.form-control:focus {
    box-shadow: none
}

.input-icon input {
    padding-left: 40px
}

.input-icon {
    position: relative
}

.login-form .input-icon i,
.cd-form .input-icon i {
    color: #444;
    opacity: .6;
    padding-right: 10px;
    margin-top: -3px
}

.input-icon i {
    font-size: 15px;
    left: 12px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 50%
}

.form-group {
    margin-bottom: 20px;
    position: relative
}

.form-group i {
    position: absolute;
    top: 20px;
    color: #888;
    left: 12px;
    font-size: 18px
}

/* End of Som Nak Coed */

.title-bg-img {
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-margin {
    margin: 0 5px 0 5px;
    height: 45px;
    width: 45px;
}

.h-img {
    /* height: 500px; */
    margin: -100px 0 -100px 0;
}

.h-img img {
    display: block;
    margin: 0 auto;
}

.img-icon {
    height: 40px;
    opacity: 0.2;
}

a .img-icon {
    opacity: 0.6;
}

a:hover .img-icon {
    opacity: 1;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: rgb(255, 208, 0);
}

@media (min-width: 0px) and (max-width: 991.98px) {
    .container {
        width: 100%;
    }
    .h-img {
        margin: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 100%;
    }
}

.job-detail {
    background: #f5f5f5
}

.job-detail .meta {
    border-top: 1px solid #ddd;
    padding: 20px 30px
}

.job-detail .meta span {
    margin-right: 5px
}

.job-detail .meta span i {
    margin-right: 5px
}

.job-detail .medium-title {
    margin-bottom: 30px;
    font-weight: 900
}

.job-detail .box {
    background: #fff;
    margin-bottom: 30px;
    padding: 30px
}

.job-detail .thumb {
    float: left;
    margin: 0 20px 0 0
}

.job-detail .text-left {
    float: left;
    width: 75%
}

.job-detail .text-left h3 {
    font-size: 24px;
    margin: 0 0 5px
}

.job-detail .text-left p {
    margin: 0 0 10px
}

.job-detail .text-left .meta span {
    margin-right: 20px;
    color: #999
}

.job-detail .text-left .meta span i {
    color: #ff4f57;
    margin-right: 3px
}

.job-detail .text-left .price {
    font-size: 18px;
    padding: 10px 0 15px;
    display: block;
    clear: both
}

.job-detail .text-left .price i {
    font-size: 15px;
    margin-right: 10px;
    color: #ff4f57
}

.job-detail .text-left .btn {
    margin-right: 20px
}

.job-detail .clearfix {
    display: inline-block;
    width: 100%
}

.job-detail .clearfix h4 {
    margin-bottom: 10px;
    font-size: 24px
}

.job-detail .clearfix p {
    color: #888;
    margin: 0 0 20px
}

.job-detail .clearfix ul li {
    padding: 0 0 30px 20px;
    overflow: hidden;
    display: block;
    font-size: 14px;
    color: #666;
    position: relative
}

.job-detail .clearfix ul li i {
    position: absolute;
    left: 0;
    top: 4px;
    margin-right: 5px;
    color: #ff4f57
}

.job-detail .sidebar .thumb {
    width: 100%;
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px
}

.job-detail .sidebar .text-box h4 {
    margin: 0 0 12px
}

.job-detail .sidebar .text-box h4 a {
    color: #ff4f57
}

.job-detail .sidebar .text-box p {
    color: #888;
    margin: 0 0 10px
}

.job-detail .sidebar .text-box a.text {
    display: block;
    color: #888;
    padding: 0 0 5px
}

.job-detail .sidebar .text-box a.text i {
    margin-right: 5px;
    color: #ff4f57
}

.job-detail .sidebar .text-box strong.price {
    color: #666;
    font-size: 15px;
    display: block;
    padding: 3px 0 15px
}

.job-detail .sidebar .text-box strong.price i {
    margin-right: 5px;
    color: #ff4f57
}

.job-detail .sidebar .sidebar-jobs ul li {
    display: block;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #eee
}

.job-detail .sidebar .sidebar-jobs ul li:last-child {
    border: 0
}

.job-detail .sidebar .sidebar-jobs ul li a {
    display: block;
    padding: 0 0 5px
}

.job-detail .sidebar .sidebar-jobs ul li span {
    color: #888;
    display: block
}

.job-detail .sidebar .sidebar-jobs ul li span i {
    margin-right: 5px;
    color: #ff4f57
}

.sidebar .detail-list li {
    border-bottom: 1px dotted #eee;
    padding: 7px 0
}

.sidebar .detail-list li a {
    text-decoration: none;
    margin-right: 10px;
    color: #888;
    display: inline-block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.sidebar .detail-list li .type-posts {
    color: #444;
    float: right
}

.sidebar .detail-list li:last-child {
    border: 0
}

.detail-company {
    padding: 30px;
    display: inline-block
}

.detail-company h4 {
    font-size: 18px;
    margin-bottom: 5px
}

.detail-company h5 {
    color: #888;
    font-size: 16px;
    line-height: 30px
}

.detail-company .name {
    padding-right: 100px
}

.detail-company .img-thum {
    width: 80px;
    float: right
}

#comments .comments-list .media .info-body .name {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 10px
}

.btn-search-icon:hover {
    opacity: .8
}

.btn-common {
    background-color: #ff4f57;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative
}

.btn {
    padding: 12px 30px;
    color: #fff;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border: 0
}

.blog-post .post-content .meta {
    font-size: 13px;
    margin-bottom: 17px;
    padding-bottom: 11px;
    border-bottom: 1px solid #eee
}

.blog-post .post-content .meta .meta-part {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px
}

.blog-post .post-content .meta .meta-part a {
    color: #999
}

.blog-post .post-content .meta .meta-part a:hover {
    color: #ff4f57
}

.blog-post .post-content .meta .meta-part i {
    margin-right: 5px
}

.job-detail .text-left .meta span {
    margin-right: 20px;
    color: #999
}

.job-detail .text-left .meta span i {
    color: #ff4f57;
    margin-right: 3px
}